/* Course */
.inner-img {
    transition: 0.3s;
}

.inner-img:hover {
    transform: scale(1.1);
}

.img-wrapper {
    display: inline-block;
    box-sizing: border-box;
}

@media only screen and (max-width: 992px) {
    .events-container {
        flex-direction: column;
        position: relative;
    }

    .events-container-img {
        width: 100%;
    }

    .events-position-month {
        width: 100px;
        background: white;
        text-align: center;
        position: absolute;
        top: 10%;
        left: 3%;
    }

    .events-info {
        order: 2;
    }
}

@media only screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container-content {
        border: none;
    }

    .slider-container {
        justify-content: center;
    }

}

@media only screen and (max-width: 640px) {
    .slider-container,
    .swiper-slide-costum
    {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .swiper-slide-costum
    {
        display: flex;
        justify-content: center;
    }
}

::-webkit-scrollbar {
    width: 7px;
}


::-webkit-scrollbar-thumb {
    background: #1c2f38; /* Use a darker shade or different color for the scrollbar handle */
    border-radius: 6px;
}


/* slider */

