/* Course */
.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}

.img-wrapper {
  display: inline-block;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 7px;
}


::-webkit-scrollbar-thumb {
  background: #1c2f38; /* Use a darker shade or different color for the scrollbar handle */
  border-radius: 6px;
}


/* slider */

.slick-center {
  border: 2px solid red;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
   /* Scale up the central slide */
}